body
{
  text-align: center;
}

h1 {
  
  color: black;
  
}


.choice-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image {
  height: 85px;
}
.Reset-image {
  height: 35px;
  cursor: pointer;
  border-radius: 50px;
}